body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.app-title{
    color: crimson;
    text-align: center;
}
.app-form{
    display: flex;
    margin: 0;
    padding:0;
    justify-content: center;
}
.app-list{
    list-style: none;
    margin-top: 25px;
    cursor: pointer;
}
.app-list li{
    height: 50px;
    border: 1px solid forestgreen;
    margin: 20px 0;
    padding: 15px;
    font-size: 17px;
}
.app-list-button{
    float: right;
    background-color: crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.app-input-button{
    background: forestgreen;
    color: white;
    font-size: 25px;
    box-shadow: none;
    border: 2px solid forestgreen;
    font-weight: bold;
}

input{
    height: 25px;
    width: 50%;
    padding: 5px;
    border: 2px solid forestgreen;
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
    
  .fadeInDown {
    animation-name: fadeInDown;
  }